/* reset e configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(assets/fundo\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}

h1 {
    text-align: center;
    color: rgba(255, 0, 0, 0.993);
    font-size: 60;



}

img {
     min-width: 10%;
     display: block;
     height: auto;
     margin: 0 auto;
    




} 

p {
    text-align: left;
    font-size: 60;
    margin-left: 67%;
    margin-top: 9%;
    margin-right: 0%;
    color: seashell;
}

button {
    display: block;
    height: auto;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: red;
    font-size: 20px;
    background-color: red;

}
 