/* reset e configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(assets/resident.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}
h1 {
    text-align: center;
    width: 100%;
    color: rgb(55, 107, 90);
    font-size: 60px;
    margin-top: 1000px;
}



 