/* reset e configurações gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    color: rgba(255, 0, 0, 0.993);


}
h2 {
    text-align: left;
    color: red;
    font-style: italic;
    margin-left: 3%;
}
img {
    
    } 
.conteudo {
  display: flex;
  align-items: center;   /* alinha verticalmente */
  gap: 10px;           /* espaço entre imagem e texto */
    }

.conteudo img {
 width: 200px;
 height: 200px;
     margin-left: 3%;
     border-radius: 8px;
     background-color: gray;
     border: 2px solid
 }
 
.menu-topo a:hover {
    background-color: rgba(255, 0, 0, 0.993)
}
p {
    text-align: justify;
    font-size: 30;
    margin-left: 30px;
    margin: top 5px;;
    margin-right: 7%;
    color: antiquewhite;
}

button {
    display: block;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
 